<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Mysqlconnection" connectionString="Data source=bolqdiyrevvf95otna9i-mysql.services.clever-cloud.com;port=3306;Initial Catalog=bolqdiyrevvf95otna9i;User Id=ulszrdspeamcstad;password=mXkOH9z3pgIkrdVBq4WV;SslMode=none;" />
	</connectionStrings>
</configuration>